{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <h3>Done</h3>
                {{ dump(data) }}
            </div>
        </div>
    </div>
{% endblock %}